<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seoulit.emp.dao.EmpDao">

	<select id="selectEmpList" resultType="map">
	
		SELECT
			*
		FROM
			EMP
	
	</select>
	
	<select id="selectEmp" parameterType="map" resultType="map">
	
		SELECT
			*
		FROM
			EMP
		WHERE EMP_NAME = #{id}
	
	</select>
	
</mapper>